* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jsc {
    justify-content: center;
}

.main {
    width: 1320px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.col-30 {
    width: 30%;
    border: 1px solid gray;
    margin: 20px;
}

.col-30 img {
    width: 100%;
}

.col-30 p {
    border: 1px solid none;
    margin: 5px 0px;
}

.col-30 button {
    padding: 0 20px;
    margin: 5px;
}